<div class="container" style="background-color:black;">
  <form class="jumbotron" style="background-color:black;">
      <h3 class="display-4" style="color:white">Aggiungi un collegamento</h3>
      <div class="form-group">
        <label for="title"  style="color:white">Titolo:</label>
        <input name="title" #newtitle class="form-control">
      </div>
      <div class="form-group">
        <label for="link" style="color:white">Link:</label>
        <input name="link" #newlink class="form-control">
      </div>
    <button (click)="addArticle(newtitle, newlink)" class="btn btn-success">
      Submit link
    </button>
  </form>
  <app-article>
  </app-article>
	
</div>